In [1]:
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
price_df = pd.read_csv('prices/AAPL_price.csv', parse_dates=True, index_col='Timestamp')

In [41]:
div_df = pd.read_csv('dividends/AAPLdividends.csv', parse_dates=True, index_col='Unnamed: 0')

In [7]:
bs_df = pd.read_csv('balance_sheet/AAPL_balance_sheet.csv', parse_dates=True, index_col='Unnamed: 0')

In [9]:
eps_df = pd.read_csv('eps/AAPL_eps.csv', parse_dates=True, index_col='Unnamed: 0')

In [11]:
rev_df = pd.read_csv('revenue/AAPL_revenue.csv', parse_dates=True, index_col = 'Unnamed: 0')

In [13]:
price_df['TotalRevenue'] = rev_df['TotalRevenue']

In [19]:
price_df['TotalRevenue'].value_counts()

Series([], Name: TotalRevenue, dtype: int64)

In [25]:
rev_df.index.rename('Timestamp', inplace=True)

In [27]:
price_df.merge(rev_df, on='Timestamp', how='outer')

,Price,TotalRevenue_x,TotalRevenue_y,GrossProfit,NetIncome
Timestamp,,,,,
2010-08-31 21:00:00,35.028503,NaN,NaN,NaN,NaN
2010-09-30 21:00:00,37.155525,NaN,NaN,NaN,NaN
2010-10-31 21:00:00,38.411003,NaN,NaN,NaN,NaN
2010-11-30 21:00:00,39.819546,NaN,NaN,NaN,NaN
2010-12-31 21:00:00,41.888546,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2020-07-31 21:00:00,505.179169,NaN,NaN,NaN,NaN
2019-09-28 00:00:00,NaN,NaN,2.601740e+11,9.839200e+10,5.525600e+10
2018-09-29 00:00:00,NaN,NaN,2.655950e+11,1.018390e+11,5.953100e+10
2017-09-30 00:00:00,NaN,NaN,2.292340e+11,8.818600e+10,4.835100e+10
2016-09-24 00:00:00,NaN,NaN,2.156390e+11,8.426300e+10,4.568700e+10

In [31]:
price_df.drop(columns='TotalRevenue', inplace=True)

In [35]:
price_df = price_df.merge(rev_df, on='Timestamp', how='outer')

In [36]:
price_df

                          Price  TotalRevenue   GrossProfit     NetIncome
Timestamp
2010-08-31 21:00:00   35.028503           NaN           NaN           NaN
2010-09-30 21:00:00   37.155525           NaN           NaN           NaN
2010-10-31 21:00:00   38.411003           NaN           NaN           NaN
2010-11-30 21:00:00   39.819546           NaN           NaN           NaN
2010-12-31 21:00:00   41.888546           NaN           NaN           NaN
...                         ...           ...           ...           ...
2020-07-31 21:00:00  505.179169           NaN           NaN           NaN
2019-09-28 00:00:00         NaN  2.601740e+11  9.839200e+10  5.525600e+10
2018-09-29 00:00:00         NaN  2.655950e+11  1.018390e+11  5.953100e+10
2017-09-30 00:00:00         NaN  2.292340e+11  8.818600e+10  4.835100e+10
2016-09-24 00:00:00         NaN  2.156390e+11  8.426300e+10  4.568700e+10

[124 rows x 4 columns]

In [44]:
div_df.index.rename('Timestamp', inplace=True)

In [48]:
price_df = price_df.merge(div_df, on='Timestamp', how='outer')

In [49]:
bs_df

,ShortTermAssets,TotalAssets,ShortTermLiabilities,TotalLiabilities
2019-09-28,162819000000,338516000000,105718000000,248028000000
2018-09-29,131339000000,365725000000,115929000000,258578000000
2017-09-30,128645000000,375319000000,100814000000,241272000000
2016-09-24,106869000000,321686000000,79006000000,193437000000

In [52]:
bs_df.index.rename('Timestamp', inplace=True)

In [55]:
price_df = price_df.merge(bs_df, on='Timestamp', how='outer')

In [56]:
price_df

,Price,TotalRevenue,GrossProfit,NetIncome,Dividend,ShortTermAssets,TotalAssets,ShortTermLiabilities,TotalLiabilities
Timestamp,,,,,,,,,
2010-08-31 21:00:00,35.028503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 21:00:00,37.155525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-31 21:00:00,38.411003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-11-30 21:00:00,39.819546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-31 21:00:00,41.888546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2019-08-09 06:30:00,NaN,NaN,NaN,NaN,0.77,NaN,NaN,NaN,NaN
2019-11-07 06:30:00,NaN,NaN,NaN,NaN,0.77,NaN,NaN,NaN,NaN
2020-02-07 06:30:00,NaN,NaN,NaN,NaN,0.77,NaN,NaN,NaN,NaN
2020-05-08 06:30:00,NaN,NaN,NaN,NaN,0.82,NaN,NaN,NaN,NaN
2020-08-07 06:30:00,NaN,NaN,NaN,NaN,0.82,NaN,NaN,NaN,NaN

In [59]:
eps_df.index.rename('Timestamp', inplace=True)

In [60]:
price_df = price_df.merge(eps_df, on='Timestamp', how='outer')

In [61]:
price_df

,Price,TotalRevenue,GrossProfit,NetIncome,Dividend,ShortTermAssets,TotalAssets,ShortTermLiabilities,TotalLiabilities,EPS
Timestamp,,,,,,,,,,
2010-08-31 21:00:00,35.028503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 21:00:00,37.155525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-31 21:00:00,38.411003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-11-30 21:00:00,39.819546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-31 21:00:00,41.888546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-08-07 06:30:00,NaN,NaN,NaN,NaN,0.82,NaN,NaN,NaN,NaN,NaN
2019-09-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.03
2019-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.99
2020-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.55
2020-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.58

In [62]:
price_df.sort_values(by='Timestamp')

,Price,TotalRevenue,GrossProfit,NetIncome,Dividend,ShortTermAssets,TotalAssets,ShortTermLiabilities,TotalLiabilities,EPS
Timestamp,,,,,,,,,,
2010-08-31 21:00:00,35.028503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 21:00:00,37.155525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-31 21:00:00,38.411003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-11-30 21:00:00,39.819546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-31 21:00:00,41.888546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-05-31 21:00:00,364.143433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.58
2020-06-30 21:00:00,424.275024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31 21:00:00,505.179169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-07 06:30:00,NaN,NaN,NaN,NaN,0.82,NaN,NaN,NaN,NaN,NaN

In [63]:
price_df.to_csv('test_ml_df.csv')

In [87]:
price_df = price_df.sort_index()

In [75]:
type(price_df.iloc[0]['TotalRevenue'])

numpy.float64

In [88]:
my_ts = price_df[ price_df['TotalRevenue'].notnull() ].index[0]

In [91]:
price_df = price_df.loc[my_ts:]

In [94]:
price_df.drop(columns='EPS', inplace=True)

C:\Users\MichaelM\Desktop\sample_project_1\env\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [95]:
price_df

,Price,TotalRevenue,GrossProfit,NetIncome,Dividend,ShortTermAssets,TotalAssets,ShortTermLiabilities,TotalLiabilities
Timestamp,,,,,,,,,
2016-09-24 00:00:00,NaN,2.156390e+11,8.426300e+10,4.568700e+10,NaN,1.068690e+11,3.216860e+11,7.900600e+10,1.934370e+11
2016-09-30 21:00:00,107.167274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-31 21:00:00,104.316780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-11-03 06:30:00,NaN,NaN,NaN,NaN,0.57,NaN,NaN,NaN,NaN
2016-11-30 21:00:00,109.880577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2020-05-31 21:00:00,364.143433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-30 21:00:00,424.275024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31 21:00:00,505.179169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-07 06:30:00,NaN,NaN,NaN,NaN,0.82,NaN,NaN,NaN,NaN

In [96]:
price_df[price_df['Price'].isnull()]

,Price,TotalRevenue,GrossProfit,NetIncome,Dividend,ShortTermAssets,TotalAssets,ShortTermLiabilities,TotalLiabilities
Timestamp,,,,,,,,,
2016-09-24 00:00:00,NaN,2.156390e+11,8.426300e+10,4.568700e+10,NaN,1.068690e+11,3.216860e+11,7.900600e+10,1.934370e+11
2016-11-03 06:30:00,NaN,NaN,NaN,NaN,0.57,NaN,NaN,NaN,NaN
2017-02-09 06:30:00,NaN,NaN,NaN,NaN,0.57,NaN,NaN,NaN,NaN
2017-05-11 06:30:00,NaN,NaN,NaN,NaN,0.63,NaN,NaN,NaN,NaN
2017-08-10 06:30:00,NaN,NaN,NaN,NaN,0.63,NaN,NaN,NaN,NaN
2017-09-30 00:00:00,NaN,2.292340e+11,8.818600e+10,4.835100e+10,NaN,1.286450e+11,3.753190e+11,1.008140e+11,2.412720e+11
2017-11-10 06:30:00,NaN,NaN,NaN,NaN,0.63,NaN,NaN,NaN,NaN
2018-02-09 06:30:00,NaN,NaN,NaN,NaN,0.63,NaN,NaN,NaN,NaN
2018-05-11 06:30:00,NaN,NaN,NaN,NaN,0.73,NaN,NaN,NaN,NaN
2018-08-10 06:30:00,NaN,NaN,NaN,NaN,0.73,NaN,NaN,NaN,NaN
2018-09-29 00:00:00,NaN,2.655950e+11,1.018390e+11,5.953100e+10,NaN,1.313390e+11,3.657250e+11,1.159290e+11,2.585780e+11
2018-11-08 06:30:00,NaN,NaN,NaN,NaN,0.73,NaN,NaN,NaN,NaN
2019-02-08 06:30:00,NaN,NaN,NaN,NaN,0.73,NaN,NaN,NaN,NaN
2019-05-10 06:30:00,NaN,NaN,NaN,NaN,0.77,NaN,NaN,NaN,NaN
2019-08-09 06:30:00,NaN,NaN,NaN,NaN,0.77,NaN,NaN,NaN,NaN
2019-09-28 00:00:00,NaN,2.601740e+11,9.839200e+10,5.525600e+10,NaN,1.628190e+11,3.385160e+11,1.057180e+11,2.480280e+11
2019-09-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-07 06:30:00,NaN,NaN,NaN,NaN,0.77,NaN,NaN,NaN,NaN
2019-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-07 06:30:00,NaN,NaN,NaN,NaN,0.77,NaN,NaN,NaN,NaN
2020-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-08 06:30:00,NaN,NaN,NaN,NaN,0.82,NaN,NaN,NaN,NaN
2020-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-07 06:30:00,NaN,NaN,NaN,NaN,0.82,NaN,NaN,NaN,NaN

In [99]:
price_df.index.get_loc('2016-11-30 21:00:00')

4

In [100]:
price_df.iloc[4]

Price                   109.880577
TotalRevenue                   NaN
GrossProfit                    NaN
NetIncome                      NaN
Dividend                       NaN
ShortTermAssets                NaN
TotalAssets                    NaN
ShortTermLiabilities           NaN
TotalLiabilities               NaN
Name: 2016-11-30 21:00:00, dtype: float64

In [103]:
revenue = price_df[price_df['TotalRevenue'].notnull()]

In [105]:
revenue['TotalRevenue'].pct_change()

Timestamp
2016-09-24         NaN
2017-09-30    0.063045
2018-09-29    0.158620
2019-09-28   -0.020411
Name: TotalRevenue, dtype: float64

In [106]:
revenue

,Price,TotalRevenue,GrossProfit,NetIncome,Dividend,ShortTermAssets,TotalAssets,ShortTermLiabilities,TotalLiabilities
Timestamp,,,,,,,,,
2016-09-24,NaN,2.156390e+11,8.426300e+10,4.568700e+10,NaN,1.068690e+11,3.216860e+11,7.900600e+10,1.934370e+11
2017-09-30,NaN,2.292340e+11,8.818600e+10,4.835100e+10,NaN,1.286450e+11,3.753190e+11,1.008140e+11,2.412720e+11
2018-09-29,NaN,2.655950e+11,1.018390e+11,5.953100e+10,NaN,1.313390e+11,3.657250e+11,1.159290e+11,2.585780e+11
2019-09-28,NaN,2.601740e+11,9.839200e+10,5.525600e+10,NaN,1.628190e+11,3.385160e+11,1.057180e+11,2.480280e+11